<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Тайный санта</title>
    <link rel="stylesheet" href="css/generate.css">
</head>
<body>
	<h2>Матчмейкинг Тайного Санты</h2>
	<p>Ниже представлены матчи!</p>
	<p>Вернитесь на предыдущую страницу и нажмите «Создать», чтобы получить новые совпадения!</p>
	
	<hr class="solid">
	
	<div th:each="match : ${matches}" class="container">
		<span th:text="${match.key}" class="first"></span>
		<span class="second"> дарит подарок </span>
		<span th:text="${match.value}" class="third"></span>
	</div>
</body>
</html>